@{
  ViewData["Title"] = "Create User";
}

@model MessageBoardApp.Models.Person

<div class="jumbotron">
  <h2>Add a new user</h2>
</div>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new user" class="btn btn-dark" />
}