@model MessageBoardApp.Models.Group

<div class="jumbotron">
  <h2>Add a new group</h2>
</div>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new group" class="btn btn-dark" />
}