<h1>All Groups</h1>

@if(@Model.Count > 0)
{
  <ul>
    @foreach (Group group in Model)
    {
      <li>
      @Html.ActionLink($"{group.Name}", "Details", new { id = group.GroupId})
      </li>
    }
  </ul>  
}
else
{
  <p>No groups have been posted</p>
}
<p>@Html.ActionLink("Create", "Create", "Groups")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
