@model MessageBoardApp.Models.Message;

@if (ViewBag.CurrentUser.PersonId == Model.PersonId)
{
  <h1>Delete this message?</h1>
  <h3>@Html.DisplayNameFor(model => model.Header): @Html.DisplayFor(model => model.Header)</h3>
  <br>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
}
else
{
  <p>You are not authorized to perform this action.</p>
}