@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<p>@Html.ActionLink("All Messages", "Index", "Messages")</p>
<p>@Html.ActionLink("All Users", "Index", "Persons")</p>
<p>@Html.ActionLink("All Groups", "Index", "Groups")</p>